.App {
  height: 100vh;
  width: 100vw;
}

.HomeButton {
  height: 50px;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid white;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.HomeButton > .link {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  background: linear-gradient(145deg, #ffffff, #dadada);
  box-shadow: 5px 5px 100px #f7f7f7, -5px -5px 100px #ededed;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease all 0.5s;
}

.HomeButton > .link:active {
  background: linear-gradient(145deg, #dadada, #ffffff);
  box-shadow: 5px 5px 100px #ededed, -5px -5px 100px #f7f7f7;
}

.square {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 4px;
}

.HomeButton > .link:active > .square {
  transform: scale(0.9);
}

.page-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portals-wrap {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portals {
  margin: 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-size: 30px;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.cart {
  position: absolute;
  visibility: hidden;
  transform: translateX(-100px);
  transition: transform 0.5s ease-out;
}

.portals:hover .cart {
  position: relative;
  visibility: visible;
  transform: translateX(0px);
}

.paper {
  position: absolute;
  visibility: hidden;
  transform: translateY(-100px);
  transition: transform 0.5s ease-out;
}

.portals:hover .paper {
  position: relative;
  visibility: visible;
  transform: translateY(0px);
}

.info {
  position: absolute;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.5s ease-out;
}

.portals:hover .info {
  position: relative;
  visibility: visible;
  transform: scale(1);
}

.user {
  position: absolute;
  visibility: hidden;
  transform: translateX(100px);
  transition: transform 0.5s ease-out;
}

.portals:hover .user {
  position: relative;
  visibility: visible;
  transform: translateX(0px);
}

.blog-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.big {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.Little {
  object-fit: cover;
  width: 50vw;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}
