.App {
  text-align: center;
  height: 100vh;
}

.HomeButton {
  height: 50px;
  width: 100%;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeButton > .link {
  border-radius: 50%;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.square {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
}
